@model IEnumerable<DateTime>
@using System.Globalization;

@{
    ViewData["Title"] = "Dates";
}

<h2>Даты</h2>

@foreach (var item in Model)
{
    <a asp-action="List" asp-route-date="@item.ToShortDateString()">@item.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU"))</a>
    <br />
}