@model IEnumerable<DateTime>

@{
    ViewData["Title"] = "Map";
}

<div>
    <span id="trackBarValue">@Model.First().ToShortDateString()</span>
    <input type="range" min="0" max="@(Model.Count() - 1)" value="0" id="trackbar" onchange="onChangeTrackBar()" />
</div>
<div>
    @await Html.PartialAsync("Map.svg")
</div>

@section Scripts {
    <script src="~/js/Map.js" asp-append-version="true"></script>
}